@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.iconify {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  overflow: hidden;
}
